{include file="public/header"}

<!--main start-->
<div class="cp_one"><a href="#"></a></div>
<div class="main">
	<div class="wei"><a href="#">首页</a>/<span>产品分类</span></div>
    <ul class="cp_two">
    	<li>
        	<h3>{$cone.name}</h3>
            <div class="right">   
                {volist name="childlist" id="child"}  
            	<a href="{:url('prolist',['id'=>$cone.id,'cid'=>$child.id])}">{$child.name}</a>
                {/volist}
            </div>
        </li>
        <li>
            <h3>品牌</h3>
            <div class="right">   
                {volist name="blist" id="bv"}  
                <a href="{:url('prolist',['id'=>$cone.id,'cid'=>$cid,'bid'=>$bv.id])}">{$bv.name}</a>
                {/volist}
            </div>
        </li>
    </ul>
    <div class="cp_three">
    	<div class="left">
        	<a href="#" class="sel">综合</a>
            <a href="{:url('prolist',['id'=>$cone.id,'order'=>'hot'])}">人气</a>
            <a href="{:url('prolist',['id'=>$cone.id,'order'=>'xiaoliang'])}">销量</a>
            <a href="{:url('prolist',['id'=>$cone.id,'order'=>'price'])}">价格</a>
        </div>
        <div class="right">
        	1 / 34 <a href="#"><</a><a href="#">></a>
        </div>
    </div>
    <ul class="cp_four">
        {volist name="plist" id="pv"}
    	<li>
        	<div class="img">
            	<span class="da"></span>
            	<a href="{:url('detail',['id'=>$pv.id])}"><img src="{$pv.thumb|substr=###,1}" height="308" width="247" /></a>
            </div>
        	<h1><a href="{:url('detail',['id'=>$pv.id])}">{$pv.name}</a></h1>
            <p>¥{$pv.price}</p>
        </li>
        {/volist}
    </ul>
    <div class="page">
    	{$plist->render()}
        页面
        <select>
        	<option>第1页</option>
        </select>
    </div>
</div>
<!--main end-->
{include file="public/footer"}