
{include file="public/header"}
<!--main start-->
<div class="main">
	<div class="menu">
    	<h1>订单中心</h1>
        <a href="#">我的订单</a>
        <a href="#">已购商品</a>
        <a href="#">我的佣金</a>
        <a href="#">我的售后</a>
        <a href="#">我的收藏</a>
        <a href="#" class="sel">个人信息</a>
        <a href="{:url('address')}">收货地址</a>
        <a href="#">修改密码</a>
    </div>
    <div class="user_main">
    	<div class="u_biao"><span>个人信息</span></div>
        <table class="tb_one">
        	<tr>
            	<th>用户名：</th>
            	<td>719578121@qq.com</td>
            </tr>
            <tr>
            	<th>姓  名：</th>
            	<td><input type="text" class="txt" /></td>
            </tr>
            <tr>
            	<th>性  别：</th>
            	<td>
                	<label><input type="radio" name="sex" checked="checked" />男</label>
                    <label><input type="radio" name="sex" />女</label>
                </td>
            </tr>
            <tr>
            	<th>邮  箱：</th>
            	<td><input type="text" class="txt" /></td>
            </tr>
            <tr>
            	<th>微  信：</th>
            	<td><input type="text" class="txt" /></td>
            </tr>
            <tr>
            	<th>手机号：</th>
            	<td><input type="text" class="txt" /></td>
            </tr>
            <tr>
            	<th>地  址：</th>
            	<td><textarea class="txt1"></textarea></td>
            </tr>
            <tr>
            	<th></th>
                <td><input type="button" class="btn" value="确认" /></td>
            </tr>
        </table>
    </div>
</div>
<!--main end-->
{include file="public/footer"}